  
  /* --------------como comprar---------- */
  .mapa {
    text-align: center;
  }
  
  .comoComprxr {
    text-align: justify;
    padding: 30px;
    list-style-image: url(../img/cake_sweet_dessert_icon_176829.png);
    font-size: 25px;
  
  }
  
  .comoComprxr h1 {
    text-align: center;
  }
 .comoComprxr li{
    margin: 50px;

  }