@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dynalight&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gwendolyn", cursive;
  background-color: rgba(229, 194, 227, 0.329);
}



/*----------footer--------------------- */
footer {
  font-size: 20px;
}

.flex {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  text-align: center;
}

.contacto {

  background-image: linear-gradient(to left, rgb(225, 187, 210), rgb(182, 137, 177));
  flex-basis: 50%;
  height: 150px;
  padding: 10px;
  /* flex-grow: 1; */
}

.contacto ul li {
  list-style: none;
}

.redes {

  background-image: linear-gradient(to left, rgb(225, 187, 210), rgb(182, 137, 177));
  flex-basis: 50%;
  height: 150px;
  padding: 10px;
  /* flex-grow: 1; */
}

.redes ul li {
  list-style: none;
}

.redes ul li a {
  text-decoration: none;
  color: #000;
}

.derechos {

  text-align: center;
  background-image: linear-gradient(to left, rgb(68, 38, 56), rgb(46, 16, 43));
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
/* ----nav----- */
.navbar{
   background-color: rgb(68, 38, 56); 
   height: 70px;
}

