.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-footer{
    background-color: rgb(80, 22, 68);
}
.btn {
    background-color: rgb(220, 189, 211);
    border: 0; 
    font-size: 20px;
}
.btn:hover{
background-color: rgb(48, 2, 55);
border: 0; 
}
.card-text{
 font-size: 20px;
}
.card-title{
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .card-img-top {

      width: 100%;
      height: 100vw;
     
    }
}